.App {
  font-family: Arial, sans-serif;
  
  margin: 0 auto;
  padding: 55px;
  text-align: center;
  background-image: url('C:\Users\harsh\Downloads\1288080 (1).jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(31, 194, 209); 
}


h1 {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-style: italic;
  color: #1120bf;
  animation: fadeInDown 1s ease-in-out, textShadowMove 5s alternate infinite; 
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textShadowMove {
  0%, 100% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }
}


.target-buttons {
  flex-wrap: wrap;
  margin: 20px 0;
  justify-content: center;
  
} 

.target-button {
  background-color: #007bff;
  flex: 1;
  max-width: 100px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.target-button.selected {
  background-color: #17a2b8;
  transform: scale(1.05);
  animation: fadeInDown 1s ease-in-out; 
}

@keyframes fadeInDown {
  20% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
.tooltip-group:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.mobile-screen {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tooltip-controls {
  display: flex;
  justify-content: center;
}

.tooltip-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px rgba(159, 13, 13, 0.1);
  transition: transform 0.3s;
}
.tooltip-group {
  margin-bottom: 15px;
  transition: transform 0.3s; /* Add a smooth transformation transition */
}

.tooltip-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Add some spacing between tooltip groups */
  animation: fadeInUp 1s ease-in-out; /* Add fade-in animation */
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip-form label {
  margin-bottom: 6px;
  color: #333;
  font-weight: bold;
}

.tooltip-form input,
.tooltip-form select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.tooltip-form button {
  background-color: #0c60ba;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.tooltip-arrow {
  position: absolute;
  display: none;
  border: solid transparent;
  border-width: 6px;
}
.tooltip-form button:hover {
  background-color: #0056b3;
}
.tooltip.top .tooltip-arrow {
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #333;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  border-right-color: #333;
}

.tooltip.bottom .tooltip-arrow {
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: #333;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  border-left-color: #333;
}
.target-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.target-button.transition {
  transition: transform 0.3s;
}
@media (max-width: 768px) {
  .target-buttons {
    flex-direction: column;
  }
  
  .target-button {
    margin: 5px 0;
  }
}
